Package: com.insanj.bluepicker
Name: Bluepicker
Depends: mobilesubstrate, libactivator
Version: 1.3
Architecture: iphoneos-arm
Description: Control Bluetooth devices on the fly.
 Control your Bluetooth devices via Activator.
 Bluepicker allows you to connect and disconnect from paired devices, as well as toggle Bluetooth using simple Activator actions. Choose a device from Bluepicker's selection sheet, and viola! Bluepicker also includes an Activator event, so you can assign any action you want to device connections and disconnections.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/Activator/Listeners/libactivator.Bluepicker/Icon-small@2x.png
